:root {
    --bg-color: #E9F9EE;
    --text-color: #303030;
    --box-color: #DCECE1;
    --education-li-background: #ffffff;
    --education-li-color: #000000;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
    --box-color: #333333;
    --education-li-background: #222222;
    --education-li-color: #ffffff;
}

body {
    font: 14px/1.5 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

#profileContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
    margin: auto;
    width: 60%;
    padding: 15px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-bottom: 15px;
}

#profileLeft {
    display: flex;
    align-items: center;
    gap: 15px;
}

#profileRight {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#profileRight p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    line-height: 1.5;
}

#profileRight h2 {
    margin-bottom: 5px;
}

#profilePicture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profileText h1 {
    margin: 0;
}

#profileText p {
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: left;
}

.container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container li {
    padding: 10px 0;
    border-bottom: 1px solid var(--text-color);
    font-size: 1em;
    color: var(--text-color);
}

.container li:last-child {
    border-bottom: none;
}

.container li strong {
    font-weight: bold;
}

.container li span {
    display: block;
    font-size: 0.9em;
    color: var(--text-color);
    margin-top: 5px;
}

#controls {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.flag-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

a {
    color: #5a5a5a;
    text-decoration: underline;
    transition: color 0.3s;
}

a:hover {
    color: #007BFF;
}

a:active {
    color: #0056b3;
}

a:visited {
    color: #4a4a4a;
}

.dark-mode a {
    color: #b5b5b5;
}

.dark-mode a:hover {
    color: #66b2ff;
}

.dark-mode a:active {
    color: #3399cc;
}

.dark-mode a:visited {
    color: #a0a0a0;
}

.iconpic {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

#skillsList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--text-color);
}

#skillsList li:last-child {
    border-bottom: none;
}

#skillsList li strong {
    font-size: 1em;
}

#skillsList li span {
    font-size: 0.85em;
    color: var(--text-color);
    text-align: right;
}

#educationList li {
    font-size: 1.2em;
    background: var(--education-li-background);
    color: var(--education-li-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#educationList li a {
    text-decoration: none;
    color: inherit;
}

#educationList li a:hover {
    text-decoration: underline;
}

#achievementsList {
    position: relative;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
}

#achievementsList::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--text-color);
}

#achievementsList li {
    position: relative;
    margin: 20px 0;
    padding-left: 80px;
}

#achievementsList li::before {
    content: "";
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--text-color);
    border-radius: 50%;
}

#achievementsList li strong {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

#achievementsList li span {
    font-size: 0.9em;
    color: var(--text-color);
    margin-top: 5px;
    display: block;
}
